*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Dark mode colours */
@media (prefers-color-scheme: dark) {
  body {
    --wp--custom--selected-theme--body--color--background: var(--wp--custom--themes--dark--body--color--background);
    --wp--custom--selected-theme--body--color--text: var(--wp--custom--themes--dark--body--color--text);
    --wp--custom--selected-theme--aside--color--background: var(--wp--custom--themes--dark--aside--color--background);
    --wp--custom--selected-theme--aside--color--text: var(--wp--custom--themes--dark--aside--color--text);
    --wp--custom--selected-theme--aside--shadow: var(--wp--custom--themes--dark--aside--shadow);
    --wp--custom--selected-theme--highlight--color--background: var(--wp--custom--themes--dark--highlight--color--background);
    --wp--custom--selected-theme--minor--color--text: var(--wp--custom--themes--dark--minor--color--text);
  }
}

@media screen {
  .wp-site-blocks {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    min-height: 100vh;
  }

  main {
    flex-grow: 1;
  }
}

/* Site header and footer */
@media screen {
  .site-header {
    background-color: var(--wp--custom--selected-theme--site-header--color--background);
    color: var(--wp--custom--selected-theme--site-header--color--text);
  }

  .wp-site-blocks .site-header+.wp-block-post-featured-image {
    margin-block-start: -3rem;
    /* cancels out the gap on .wp-site-blocks */
  }
}

.site-header {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.site-footer {
  background-color: var(--wp--custom--selected-theme--aside--color--background);
  color: var(--wp--custom--selected-theme--minor--color--text);
  font-size: var(--wp--preset--font-size--x-small);
  padding-bottom: 2rem;
  padding-top: 2rem;
}

/* Post collections */
.wp-block-post-template {
  display: grid;
  gap: var(--wp--custom--spacing--block-gap);
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: var(--wp--custom--spacing--block-gap);
}

.wp-block-post-template .wp-block-post {
  border-radius: var(--wp--custom--border--radius);
  box-shadow: var(--wp--custom--selected-theme--aside--shadow);
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
}

.wp-block-post-template .wp-block-post>* {
  margin-block-end: 0;
  margin-block-start: 0;
}

.wp-block-post-template .wp-block-post-featured-image {
  flex-grow: 1;
}

.wp-block-post-template .wp-block-post-featured-image img {
  height: 100%;
  object-fit: cover;
}

.wp-block-post-template .wp-block-post .wp-block-post-meta {
  background-color: var(--wp--custom--selected-theme--aside--color--background);
  color: var(--wp--custom--selected-theme--minor--color--text);
  display: flex;
  font-size: var(--wp--preset--font-size--x-small);
  font-variant: all-small-caps;
  justify-content: space-between;
  margin-block-start: 0;
  padding: var(--wp--custom--spacing--padding--vertical) var(--wp--custom--spacing--padding--horizontal);
}

.wp-block-post-template .wp-block-post .wp-block-post-meta>* {
  margin-block-start: 0;
}

.wp-block-post-template .wp-block-post .wp-block-post-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: var(--wp--custom--spacing--block-gap) var(--wp--custom--spacing--padding--horizontal);
}

.wp-block-post-template .wp-block-post .post-nav-links {
  display: none;
}

.wp-block-post-template .wp-block-post .more-link {
  color: var(--wp--custom--selected-theme--minor--color--text);
  display: flex;
  font-size: var(--wp--preset--font-size--small);
  font-variant: all-small-caps;
  justify-content: center;
  text-decoration: none;
}

.wp-block-post-template .format-image .wp-block-post-content {
  display: none;
}

.wp-block-post-template .wp-block-post-meta .wp-block-post-terms::before {
  display: none;
}

/* 404 Page */
.error-404 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}

.error-404 * {
  margin: 0;
  text-align: center;
}

.error-404 .dashicons {
  font-size: 10rem;
  height: unset;
  width: unset;
}

/* Blocks without hooks */
.wp-block-image img {
  width: 100%;
}

.wp-block-footnotes {
  border-top: 1px solid var(--wp--custom--selected-theme--aside--color--background);
  color: var(--wp--custom--selected-theme--minor--color--text);
  font-size: var(--wp--preset--font-size--small);
  margin-block-start: 3rem;
  padding-top: var(--wp--custom--spacing--block-gap);
}

.wp-block-footnotes a {
  color: inherit;
}

.wp-block-footnotes li {
  margin-block-start: 0.25em;
}

.wp-block-media-text img {
  border-radius: var(--wp--custom--border--radius);
}

.post-nav-links {
  align-items: center;
  display: flex;
  gap: var(--wp--custom--spacing--block-gap);
  justify-content: center;
}

.post-nav-links .current {
  background-color: var(--wp--preset--color--red-2);
  border-radius: var(--wp--custom--border--radius);
  color: var(--wp--preset--color--white-4);
  padding: var(--wp--custom--spacing--padding--vertical) var(--wp--custom--spacing--padding--horizontal);
}

.post-nav-links a {
  background-color: var(--wp--custom--selected-theme--aside--color--background);
  border-radius: var(--wp--custom--border--radius);
  padding: var(--wp--custom--spacing--padding--vertical) var(--wp--custom--spacing--padding--horizontal);
  text-decoration: none;
}
